* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* Start Landing Page */

.landing-page {
    position: relative;
    background-color: hsl(300, 100%, 0%);
}

.landing-page .header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
}

.landing-page .header-area .logo {
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    font-size: 19px;
    width: 300px;
    color: #5d5d5d;
}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.landing-page .header-area .links li{
    display: inline-block;
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
}
/* for the links too */
.landing-page .header-area .links li a{
    display: inline-block;
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
}
.landing-page .header-area .links li a:hover {
    color: #1fd84d;
}
.landing-page .header-area .links li:last-child {
    border: 0;
    padding: 10px 18px;
    color: #FFF;
    /* color: hsl(220, 36%, 28%); */
    background-color: hsl(9, 93%, 55%);
}
.landing-page .header-area .links li:last-child:hover {
    border: white 1px solid;
    background-color: black;
    transform: scale(1.05);
    border-radius: 0px;
}
.landing-page .info {
    width: 35%;
    float: left;
    margin-top: 130px;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #a52f00;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #a52f00d5;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    /* color: hsl(220, 36%, 28%); */
    background-color: hsl(9, 93%, 55%);
}
.landing-page .info button:hover {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    /* color: hsl(220, 36%, 28%); */
    background-color: hsl(0, 0%, 0%); border: white 1px solid;
}

.landing-page .image {
    width: 50%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img {
    max-width: 100%;
    background-color: inherit;
}

.clearfix {
  clear: both;
}

/* End Landing Page */
/* intro-section starts here */
.intro-section
{
    font-family: 'Titillium Web'; 
    font-size: 22px;
}
/* intro-section ends here */
/* About me starts here */
.about-tools
{
    padding: 10px;
    border: 2px black dotted;
}
.about-mail
{
    width: 300px;
}
.about-mail img:hover
{
    transform: scale(1.2);
    border: rgba(255, 196, 0, 0.89) 1px solid;
}
/* About me ends here */
/* ==== SIMPLE FOOTER ==== */

footer {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/simple-footer.png') repeat center;
    /* background-color: hsl(300, 100%, 0%); */
    display: table;
    width: 100vw;
    height: 8rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: .875rem;
  }
  
  .wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  footer small {
    color: #ccc;
    letter-spacing: .025rem;
    margin-bottom: 1.5rem;
    display: block;
  }
  
  .footer-nav a {
    color: #c74f78;
    text-decoration: none;
    margin: 0 .5rem;
    display: inline-block;
  }
  
  .footer-nav a:hover {
    color: #f26896;
    transition: color .15s ease-in-out;
  }
  
  
